{% extends "points/_standart.html" %}
{% load staticfiles %}

{% block title %}{{ point.point_name }}{% endblock %}

{% block linkscript %}
    {{ block.super }}
    <script type="application/javascript" src="{% static "points/js/jquery.maskedinput.min.js" %}"></script>
	<script type="application/javascript" src="{% static "points/js/geo-min.js" %}"></script>
	<script type="application/javascript" src="{% static "points/js/autosize.min.js" %}"></script>
	<script type="application/javascript" src="{% static "points/js/gps.google.js" %}"></script>
	<script type="application/javascript" src="{% static "points/js/detail.js" %}"></script>
    <script>
		var point_name="{{ point.point_name }}";
		var point_link="{{ point.point_link }}";
		var point_lat={{ point.point_lat }};
		var point_lon={{ point.point_lon }};
		{% if point.point_image == "" %}
			var point_image_link="{% static "points/img/no-photo.jpg" %}";
		{% else %}
			var point_image_link="{{ point.point_image }}";
		{% endif %}
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbyDJwI5plXchj5oZIVI9WmySMyUcL8H4&callback=loadMaps">
	</script>
{% endblock %}

{% block linkcss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "points/css/point.editor.css" %}"/>
{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group"><h3>Точка</h3></div>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group'>
			<label for='title'>Название</label>
			<input id='title' name='title' type='text' class='form-control' placeholder='' value=''/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 form-group">
				<button type="button" class="btn btn-primary" onclick="goBack();"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i>Вернуться</button>
				<button type="button" class="btn btn-success" onclick="goSave();"><i class="glyphicon glyphicon-ok">&nbsp;</i>Сохранить</button>
				<button type="button" class="btn btn-warning" onclick="goCancel();"><i class="glyphicon glyphicon-remove">&nbsp;</i>Отмена</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 form-group">
				<div id="editMap"></div>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 form-group'>
				<img id='wikifoto' src="{% static "points/img/no-photo.jpg" %}" class="img-thumbnail btn-block">
				<button type="button" class="btn btn-info btn-block" onclick="goWiki();"><i class="glyphicon glyphicon-globe">&nbsp;</i>Wiki</button>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 form-group'>
				<label for='lat'>Широта WGS84</label>
				<input id='lat' name='lat' type='text' class='form-control' placeholder='' value=' 00° 00.000`N'/>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 form-group'>
				<label for='lng'>Долгота WGS84</label>
				<input id='lng' name='lng' type='text' class='form-control' placeholder='' value='000° 00.000`E'/>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 form-group'>
				<label for='latg'>Широта Web</label>
				<input id='latg' name='latg' type='text' class='form-control' placeholder='' value='0'/>
			</div>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 form-group'>
				<label for='lngg'>Долгота Web</label>
				<input id='lngg' name='lngg' type='text' class='form-control' placeholder='' value='0'/>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-lg visible-md">
				<button type="button" class="btn btn-success btn-block" onclick="showCoord();"><i class="glyphicon glyphicon-screenshot">&nbsp;</i>Показать</button>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-xs visible-sm">
				<button type="button" class="btn btn-success btn-block" onclick="showCoord();"><i class="glyphicon glyphicon-screenshot">&nbsp;</i>Показать</button>
			</div>
		</div>
{% endblock %}

