{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset="utf-8">
    <title>Point</title>
    <link rel="stylesheet" href="{% static "points/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "points/css/dropzone.css" %}">
    <link rel="stylesheet" href="{% static "points/css/allcss.css" %}"/>
    <link rel="stylesheet" href="{% static "points/css/header.css" %}"/>
    <link rel="stylesheet" href="{% static "points/css/point.editor.css" %}"/>
</head>
<body>
    {% include "points/_header.html" %}
    <div class="container">
    <div class="page-buffer-top"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group"><h3>Редактор точки</h3></div>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group'>
        <label for='title'>Название</label>
        <input id='title' name='title' type='text' class='form-control' placeholder='' value=''/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <button type="button" class="btn btn-primary" onclick="testBack();"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i>Вернуться</button>
            <button type="button" class="btn btn-success" onclick="testSave();"><i class="glyphicon glyphicon-ok">&nbsp;</i>Сохранить</button>
            <button type="button" class="btn btn-warning" onclick="testCancel();"><i class="glyphicon glyphicon-remove">&nbsp;</i>Отмена</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 form-group">
            <div id="editMap"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-lg visible-md">
            <button onclick="findMe();" type="button" class="btn btn-info btn-block" ><i class="glyphicon glyphicon-screenshot">&nbsp;</i>Определить</button>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group'>
        <label for='lat'>Широта WGS84</label>
        <input id='lat' name='lat' type='text' class='form-control' placeholder='' value=' 00° 00.000`N'/>
        </div>        <div class='col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group'>
        <label for='lng'>Долгота WGS84</label>
        <input id='lng' name='lng' type='text' class='form-control' placeholder='' value='000° 00.000`E'/>
        </div>        <div class='col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group'>
        <label for='latg'>Широта Web</label>
        <input id='latg' name='latg' type='text' class='form-control' placeholder='' value='0'/>
        </div>        <div class='col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group'>
        <label for='lngg'>Долгота Web</label>
        <input id='lngg' name='lngg' type='text' class='form-control' placeholder='' value='0'/>
        </div>        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-lg visible-md">
            <button type="button" class="btn btn-success btn-block" onclick="showCoord();"><i class="glyphicon glyphicon-globe">&nbsp;</i>Показать</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-xs visible-sm">
            <button onclick="findMe();" type="button" class="btn btn-info btn-block" ><i class="glyphicon glyphicon-screenshot">&nbsp;</i>Определить</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 form-group visible-xs visible-sm">
            <button type="button" class="btn btn-success btn-block" onclick="showCoord();"><i class="glyphicon glyphicon-globe">&nbsp;</i>Показать</button>
        </div>
    </div>
    <div class="row">
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group'>
			<label for='title'>Подробно</label>
			<input id='title' name='title' type='text' class='form-control' placeholder='' value=''/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 form-group">
            <label for="dz">Фото и видео</label>
            <div id="dz">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 form-group">
            <label for="my-awesome-dropzone">Добавить фото</label>
            <form class="dropzone" action="foto/upload.php" id="my-awesome-dropzone"></form>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 form-group">
            <div class="progress hide">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <button type="button" class="btn btn-primary" onclick="testBack();"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i>Вернуться</button>
            <button type="button" class="btn btn-success" onclick="testSave();"><i class="glyphicon glyphicon-ok">&nbsp;</i>Сохранить</button>
            <button type="button" class="btn btn-warning" onclick="testCancel();"><i class="glyphicon glyphicon-remove">&nbsp;</i>Отмена</button>
        </div>
    </div>
</div>
    {% include "points/_footer.html" %}
<!-- dropzonePreview-->
<div id="dropzonePreview" class="dz-default dz-message hide"></div>

<script type="application/javascript" src="{% static "points/js/jquery-2.1.4.min.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/jquery.json-2.4.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/bootstrap.min.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/jquery.maskedinput.min.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/geo-min.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/autosize.min.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/dropzone.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/dropzone.init.js" %}"></script>
<script type="application/javascript" src="{% static "points/js/gps.google.js" %}"></script>

<script>
	var map=null;
	var point_name="{{ point.point_name }}";
	var point_link="{{ point.point_link }}";
	var point_image_link="{{ point.point_image }}";
	var point_lat={{ point.point_lat }};
	var point_lon={{ point.point_lon }};

	(document.getElementById('title')).value=point_name;
	function loadMaps() {
		var myLatLng = {lat: point_lat, lng: point_lon};
		var mainMap=document.getElementById('editMap');
		var myOptions = {
			mapTypeId: google.maps.MapTypeId.TERRAIN,
			center: myLatLng,
			zoom: 18,
		};
		map = new google.maps.Map(mainMap,myOptions);
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: point_name
        });

	}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbyDJwI5plXchj5oZIVI9WmySMyUcL8H4&callback=loadMaps">
</script>

</body>
</html>
